.u-block-bd93-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bd93-3 {
  position: absolute;
  left: 0;
}

.u-block-bd93-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/9667c06a-b92c-447d-9881-1d93516485c9.jpg");
  background-position: 50% 50%;
  background-size: 240%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 205px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/9667c06a-b92c-447d-9881-1d93516485c9.jpg");
  background-position: 50% 50%;
  background-size: 240%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-image-1 {
  width: 329px;
  height: 329px;
  margin: 66px auto 0 393px;
}

.u-section-1-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 24px 134px 60px 169px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    width: 837px;
    margin-left: 69px;
    margin-right: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-image-1 {
    margin-left: 391px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-image-1 {
    margin-left: 211px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-2 .u-image-1 {
    margin-left: 11px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/9667c06a-b92c-447d-9881-1d93516485c9.jpg");
  background-position: 50% 50%;
  background-size: 240%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-image-1 {
  width: 401px;
  height: 262px;
  margin: 73px auto 0;
}

.u-section-1-3 .u-text-1 {
  width: 837px;
  font-size: 1.625rem;
  margin: 41px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-1-3 .u-image-1 {
    width: 340px;
    height: 222px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/9667c06a-b92c-447d-9881-1d93516485c9.jpg");
  background-position: 50% 50%;
  background-size: 245%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-4 .u-image-1 {
  width: 337px;
  height: 301px;
  margin: 33px auto 0;
}

.u-section-1-4 .u-text-1 {
  font-size: 1.625rem;
  margin: 43px 103px 60px 200px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-4 .u-text-1 {
    width: 837px;
    margin-left: 100px;
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-4 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }
}